<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div id="app">
        <div class="entrada" >Nome:</div><input v-model="text">
        <div class ="entrada">Telefone:</div><input v-model="text">
        <div class="entrada">Idade:</div><input v-model="text">
        <div class="entrada">E-mail:</div><input v-model="text">
        <div class="tables">
            <table>
                <tr>
                    <th>Nome</th>
                </tr>
                <tr>
                <td>Bruno Teles</td>
                </tr>
            </table>
        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>

</html>